.header-home {
  background-image: url(../../assets/images/header-home.jpg);
  background-attachment: fixed;
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: cente;
}
.text-header {
  text-align: center;
}
.text-header h1,
.text-header h2 {
  color: #f4c811;
  text-shadow: 0 3px 5px #332f30;
}
.text-header h1 {
  font-size: 5.5em;
  color: #f4c811;
  margin-bottom: 0;
  font-weight: 800;
}
.text-header h2 {
  font-size: 2.2em;
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.15em;
  font-family: FuturaBook;
}

.btn-header-home {
  position: relative;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3em 1.5em;
  border: 1px solid #332f30;
  transition: 0.5s ease-out;
  border-radius: 45px;
  font-weight: bold;
  color: #332f30;
  text-transform: uppercase;
  margin: 0 auto;
}

.btn-header-home:hover {
  text-decoration: none;
  border-color: #f4c811;
  transition: all 0.2s ease;
  color: #332f30;
}

.btn-header-home span.buttonArrow {
  right: 8px;
  display: flex;
  position: absolute;
  font-size: 0;
  transition: 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  color: #332f30;
}

.btn-header-home:hover span.buttonArrow {
  font-size: 25px;
  transition: 0.2s ease-in-out;
}

button.btn {
  border: 1px solid #332f30;
  border-radius: 25px;
  padding: 5px 35px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
  position: relative;
}
button.btn:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
button.btn svg{
  position: absolute;
  right: 7px;
  top: 48%;
  transform: translateY(-43%);
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
button.btn:hover svg {
  opacity: 1;
}


button.btn:hover svg path{
  fill: #332f30;
}

