.modal-dialog-centered .modal-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.firtStep_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firtStep_form .formBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 10vh 0;
}

.firtStep_form .formBox .imgBoxForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firtStep_form .formBox .imgBoxForm .btn-primary.btnPublicationCreate {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 1vh;
}

form.addForm {
  width: 100%;
  min-height: 88vh;
}

.addForm input:not([type="submit"]),
.addForm textarea {
  box-shadow: none;
  border: 1px solid #bbbbbb;
}
.addForm textarea {
  padding: 15px;
}

.addForm .inputAuthors {
  position: relative;
}

.addForm .inputAuthors img {
  position: absolute;
  background: #f4c811;
  padding: 7px 13px 8px;
  border-radius: 5px 0 0 5px;
  top: 7px;
  left: 0px;
  width: 52px;
  z-index: 1;
}

.form-group {
  margin-bottom: 15px !important;
}

.form-group.groupImage {
  height: 71vh;
  position: relative;
  width: 100%;
  border: solid 1px #bbb;
  border-radius: 5px;
}

.form-group.groupImage .imgPrevius img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  max-width: 40%;
  max-height: 40vh;
}

.form-group.groupImage .custom-file.camera {
  position: absolute;
  bottom: 10px;
  width: 40%;
  left: 10px;
}
.form-group.groupImage .custom-file.onDevice {
  position: absolute;
  bottom: 10px;
  width: 40%;
  right: 10px;
}

.form-group.groupImage .custom-file label {
  border: solid 1px gray;
  border-radius: 50em;
  background: #f4c811;
  color: #808080;
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
}

.form-group.groupImage .custom-file label img{
  height: 22px;
}

.form-group.groupImage .custom-file label:after {
  content: none!important;
}

div#visorArticle {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#visorArticle img {
  width: auto;
  height: auto;
  max-width: 99%;
  max-height: 248px;
  border-radius: 5px;
}

.addForm textarea {
  overflow: auto;
  resize: none;
}

.addForm textarea#sumaryArticle,
.addForm textarea#sumaryVideo,
.addForm textarea#sumaryPodcast {
  height: 25vh;
}

div#frameArticle {
  padding-top: 15px;
}

.slidee .divMiniImg {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: auto;
  height: 100px;
}

.slidee .divMiniImg img {
  max-width: 150px;
  width: auto;
  max-height: 100px;
  height: auto;
  border-radius: 5px;
}
.slidee .divMiniImg img:hover {
  cursor: pointer;
}

.slidee .divMiniImg span {
  position: absolute;
  z-index: 3;
  background: #fff;
  border: solid 1px gray;
  padding: 2px;
  border-radius: 50em;
  line-height: 11px;
  font-size: 14px;
  right: -5px;
  top: -5px;
  box-shadow: 1px 2px 4px grey;
}

.slidee .divMiniImg span:hover {
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: row;
  transform: translateY(-4px);
}

.inputSearchMap {
  position: relative;
}

.inputSearchMap img {
  position: absolute;
  top: 10px;
  left: 10px;
}

.inputSearchMap input {
  padding-left: 50px;
}

.addMyList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7vh;
}

.addMyList .selectMyList {
  width: 50%;
}

.addMyList .selectMyList select,
.addMyList .custom-control-label:before {
  border: 1px solid #bbb;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #f4c811;
  background: #f4c811;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  border-color: #f4c811;
  background-color: #f4c811;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #bbb;
}

/*------------------------Step-2------------------------*/

form.addForm textarea#containPublicationArticle,
form.addForm textarea#containPublicationVideo,
form.addForm textarea#containPublicationPodcast{
  min-height: 80vh;
}

.addForm .selectCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addForm .selectCategory > div{
  width: 60%;
}

.addForm .selectCategory select {
  width: 55%;
}

.addForm .divTags {
  width: 100%;
  border: solid 1px #bbb;
  border-radius: 4px;
  min-height: 27vh;
}

.addForm .submitArticle{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*---------------------bullets-Form---------------------*/

.btnNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.btnNavigation span#deletePublication {
    padding: 7px 11px;
}

.btnNavigation span#savePublication {
    padding: 7px 8px;
    margin: 0 15px;
}

.btnNavigation span img {
  height: 30px;
}

.btnNavigation span {
  transition: 0.2s ease-in-out;
}

.btnNavigation span:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s ease-in-out;
}

.btnNavigation span.next {
  padding: 5px 50px;
  margin-right: 20px;
}
.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.steps span {
  margin: 0 10px;
  font-size: 10px;
  width: 10px;
  height: 10px;
  background: var(--daw-darkGray);
  border-radius: 50em;
}

.steps span.active{
  background: var(--daw-yellow);
}

.steps span[type="button"]:hover {
  cursor: pointer;
  background: var(--daw-yellow);
}


