/*----------------Title-Carousel-----------------*/

.titleCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: 15px auto;
}
.titleCarousel p {
  color: var(--daw-gray);
  margin-bottom: 0;
  font-size: 2.2rem;
  word-break: break-word;
  line-height: 35px;
  font-weight: 500;
}

/*------------------carousels-----------------------*/

.section-carousel {
  background-color: #fff;
  transition: all 0.5s ease;
  padding: 60px 0 80px !important;
  box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.2);
}

.carousel button {
  background: transparent;
  border: transparent;
  position: absolute;
  top: 40%;
}

.carousel button[disabled] {
  display: none;
}

.carousel button svg {
  font-size: 50px;
}

.carousel button svg path {
  fill: #fff;
}

.carousel__back-button {
  left: 0;
}

.carousel__next-button {
  right: 20px;
}
 /*----------------------Media-Querys------------------*/

@media (max-width: 575px) {
  .titleCarousel {
    flex-direction: column;
    width: 100%;
  }
  .titleCarousel p {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
