div.titlePublication {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#about_me {
  background: #fff;
  padding: 0 25px 45px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: calc(100% - 30px);
  overflow: hidden;
}
#text_about_me {
  padding: 15px;
}
p.title {
  text-transform: uppercase;
  font-size: 1.5em;
}
.data_up {
  padding-top: 15px;
}

.data_down img {
    transform: translateY(-3px);
}

.wrap_image {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  height: 300px;
}
.wrap_image figure {
  margin: 0;
}

.item_activity .wrap_image > figure:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #332f30;
  z-index: 1;
}
.item_activity figure img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.item_activity a:hover figure img {
  transform: scale(1.05);
}
.item_activity .hastag {
  font-family: Roboto;
  font-size: 1.3em;
  color: #332f30;
}
.item_activity a:hover {
  text-decoration: none;
}
.item_activity .wrap-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 15px 7px;
}
.image_authors {
  position: relative;
  height: 30px;
  margin-top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.image_authors figure {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.image_authors figure:not(:first-of-type) {
  margin-left: -10%;
}
.image_authors figure img {
  transform: scale(1) !important;
}
.image_authors figure:hover {
  z-index: 1;
}
.item_activity.item_experience .hastag {
  bottom: 15px;
  top: auto;
}

.item_activity .icon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}
.item_activity .option {
  position: absolute;
  margin: 20px;
  z-index: 2;
  border-radius: 25rem;
  border-color: #525f7f;
  color: #525f7f;
  background: transparent;
  width: 10vh;
  outline: none;
  transition-duration: 0.4s;
}
.option:hover {
  background-color: #f4c911;
}

.item_activity .experience_title {
  background: #f4c911;
}

p.title_item {
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
  font-size: 20px;
}
.item_contact_list ul {
  padding-left: 0;
}
.item_contact_list ul li {
  list-style: none;
  text-align: center;
}
.item_contact_list ul li:not(:last-child) {
  margin-right: 15px;
}
.item_contact_list img {
  height: 25px;
  width: auto;
  margin-right: 5px;
}
.item_contact_list ul li img {
  height: 32px;
  margin-right: 0;
}

div#recent_activities .item_activity {
  background-size: cover;
  background-position: center;
  position: relative;
  transition: 0.2s ease;
}
div#recent_activities .item_activity{
  margin-bottom: 0;
}

/*---------------------------Media-Querys------------------------------*/

@media (min-width: 768px) {

  .profile_user button {
    position: absolute!important;
    left: 115px;
    bottom: 60px;
    margin-top: 0px;
    z-index: 1;
  }
  .data_up {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  div#recent_activities, .contact_list {
    display: -ms-grid!important;
    display: grid!important;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
    align-items: center;
  }
  div#recent_activities .item_activity {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  nav#navDashboard {
    margin-left: 66px !important;
    margin-right: 66px !important;
  }
  .data_up {
    grid-column-gap: 45px;
  }
  div#about_me {
    width: calc(100% - 162px) !important;
    max-width: 100%;
    padding: 0 5%;
    overflow: hidden;
  }
  .buttons_profile {
    width: 137px;
    min-width: 137px;
    padding: 0 15px;
    margin-left: 70px;
  }
  .buttons_profile a.shared {
    transform: translateY(-7px);
  }
  .contentTabsProfile ul {
    padding-left: 0;
  }
  .contentTabsProfile ul.tabs {
    border-right: 1px solid #ced4da;
    border-bottom: 0;
  }
  .contentTabsProfile ul.tabs > li {
    border-bottom: 1px solid #ced4da;
    text-align: center;
    position: relative;
    font-size: 1.1rem;
    padding: 8px 5px;
    cursor: pointer;
    list-style: none;
  }
  .contentTabsProfile ul.tabs li.active:after {
    content: "";
    position: absolute;
    right: -2px;
    width: 3px;
    height: 100%;
    background: #f4c811;
    top: 0;
  }
  .firtsFilter .btnCheckbox label {
    font-size: 25px;
  }
  div.firtsFilter .btnCheckbox {
    margin-right: 30px;
  }
}
